---
title: Welcome to Middleman
---

<div class="welcome">
	<% 10.times do %>
  	<h1>Middleman is Watching</h1>
	<% end %>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
